$o-jstr-font-color: #dee2e6;
$o-jstr-bg-color: #212529;
$o-jstr-input-color: #2E2E2E;
$o-jstr-selected-color: #00A09D;

@media screen and (max-width: 540px) {
    .jstr-hide-mobile { display: none !important }
}
@media screen and (min-width: 540px) and (max-width: 860px) {
    .jstr-hide-tablet { display: none !important }
}
@media screen and (max-width: 1050px) {
    .jstr-hide-under-1000 { display: none !important }
}

.pwm-content {
    display: flex !important;
    .jstr-pull-right { float: right }
    // navigation panels
    .jstr-navigation-panel {
        flex: 0 0 320px;
        background-color: $o-jstr-bg-color;
        display: block;
        color: $o-jstr-font-color;
        overflow: auto;
        
        .jstr-d-flex { display: flex !important }
        .jstr-panel-content {
            display: block;
            width: 100%;
        }
        .jstr-panel-header {
            color: $o-jstr-font-color;
            width: 100%;
            padding: 3% 0% 1% 8%;
            font-size: 13pt;

            .jstr-sort-div {
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 3pt;
                
                .jstr-sort-option {
                    color: $o-jstr-font-color;
                    min-width: 150px;
                    max-width: 150px;
                    padding-left: 2%;
                    font-size: 11pt;
                    background-color: $o-jstr-input-color;
                    border: none;

                    option { color: black }
                }
            }
        }
        .jst-reverse-columns {
            display: flex;
            flex-direction: column-reverse;            
        }
        .jstr-panel-body {
            padding-left: 1%;

            .jstr-search-row {
                display: flex;
                align-items: flex-end;
                padding: 0% 4% 0% 5%;
            
                .jstr-search-view {
                    align-items: flex-end;
                    flex: 1 1 100%;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                    background-color: white;
                    padding: 0 40px 1px 0;
                    position: relative;
                    display: block;
                    margin: 0 0px 8px 8px;
                
                    .jstr-search-icon {
                        flex: 1 1 100%;
                        position: absolute;
                        top: 6px;
                        left: auto;
                        bottom: auto;
                        color: $o-jstr-bg-color;
                    }
                    .jstr-search-icon:hover {
                        cursor: pointer;
                        color: black;                        
                    }
                    .jstr-search-icon-search { right: 22px }
                    .jstr-search-icon-trash { right: 5px }
                    .jstr-search-input-container {
                        flex: 1 1 100%;
                        flex-flow: row wrap;
                        position: relative;
                        display: flex;

                        input {
                            flex: 1 0 auto;
                            width: 75px;
                            border: none;
                            padding: 4px 0 0 0;              
                        }
                    }
                }
            }
            // special jstree styles
            .jstr-selected-parent > a:not(.jstree-checked) {
                border: 1px dotted white !important;
            }
            .jstree-default .jstree-hovered {
                background: transparent;
                border-radius: 0px;
                box-shadow: inset 0 0 1px #cccccc;
            }
            .jstree-default .jstree-context {
                background: transparent;
                border-radius: 0px;
                box-shadow: inset 0 0 1px #cccccc;
            }
            .jstree-default .jstree-clicked {
                background: transparent;
                border-radius: 0px;
                box-shadow: none;
            }
        }
        .jstr-functional-button { cursor: pointer }
        .jstr-functional-button:hover { color: white }
        .jstr-functional-button-clear {
            font-size: 9pt;
            padding-left: 3px;
        }
        .jstr-hr {
            background-color: $o-jstr-font-color;
            width: 100%;
        }
        // special right navigation styles
        .jstr-panel-selection {
            max-height: 450px;
            overflow: auto !important;
        }
    }
    // central records' views
    .jstr-kanban-view {
        overflow: auto !important;
        flex: 1 1;
        position: relative !important;

        .jstr-kanban-card {
            height: 100%;
            min-height: 120px;

            .jstr-kanban-body { margin-bottom: auto }
            .jstr-kanban-bottom { margin-top: auto }
            // to show color dots correctly
            .o_dropdown_kanban {
                position: relative !important;
                margin-left: 8px;

                .o_kanban_manage_toggle_button { position: relative !important } 
            }
            .jstr-kanban-copy-container {
                padding: 0px 4px;
                .jstr-kanban-copy.jstr-kanban-copy-pointer:hover { cursor: copy }
            }
        }
        .jstr-kanban-selected {
            border: 2px solid $o-jstr-selected-color !important;
            box-shadow: 2px 2px 2px 2px #6c757d !important;

            // 'to choose' checkbox (selected)
            .fa-square-o { display: none !important }
            .fa-check-square-o { display: block !important }
        }
        // to break kanban title at any point
        .jstr-overalyed { overflow-wrap: anywhere }
        // 'to choose' checkbox (NOT selected)
        .fa-check-square-o { display: block }
        .fa-check-square-o { display: none }
        // specific password-related
        .jstr-favorite-icon { padding: 0 3px }
    }
}
