.password-preview-container {
    .password-preview-header {
        color: $o-jstr-selected-color !important;
        overflow-wrap: break-word;
    }
    .password-preview-header:hover {color: white !important}
    .password-preview-table-container {
        padding: 3% 0% 1% 7%;

        .password-preview-label {
            width: 26% !important;
            vertical-align: middle;
            padding-left: 0;
            color: $o-jstr-font-color;
        }
        .password-preview-value {
            width: 55% !important;
            vertical-align: middle;
            color: white;

            input {
                background-color: $o-jstr-input-color;
                border: 1px solid transparent;
                color: white;
                padding: 2px;
            }
        }
        .password-preview-buttons {
            width: 19% !important;
            vertical-align: middle;
            color: white;

            .password-preview-button {
                margin-right: 6px;
                font-size: 9pt;
                color: $o-jstr-font-color;
                cursor: pointer;
            }
            .password-preview-button:hover { color: white }
        }
    }
}
