.password-copy-buttons {
    padding: 0 $o-form-spacing-unit 0 0 !important;
    vertical-align: top;
    position: relative;
    margin-left: -70px;
    display: inline-block;
    text-align: right;
    float: right;

    .password-copy-button {
        color: $link-color;
        cursor: pointer;
    }
    .password-copy-button:hover {color: $link-hover-color;}
}
