.password-duplicates-container {
    .password-duplicates-observe {
        color: $link-color;
        cursor: pointer;
        font-weight: 700;
    }
    .password-duplicates-observe:hover {color: $link-hover-color;}
}